<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Productos
    </title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="images/logo.png" alt="Logo" width="125">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Productos</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Contact</a></li>
                    <li><a href="/account">{{nombre}}</a></li>
                </ul>
            </nav>
            <img src="images/cart.png"alt="Cart" width="30px">
            <img src="https://img.icons8.com/ios-filled/28/000000/menu--v1.png" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
<!------Cart Details------------>
<!------Repeat According to data---------->
<div class="small-container cart-page">
    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="images/smalljar.jpg">
                    <div>
                        <p>Nombre de Producto</p>
                        <small>Price: $100.00</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$100.00</td>
        </tr>
    </table>
    <div class="total-price">
        
        <table>
            <tr>
                <td>Subtotal</td>
                <td>$200.00</td>
            </tr>
            <tr>
                <td>IVA</td>
                <td>$15.00</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$215.00</td>
            </tr>
        </table>
        
    </div>
</div>


<!----------------footer -------------->
<div class="footer">
    <div class="container">
        <div class="row-2">
            <div class="footer-col-1">
                <h3>Descarga Nuestra Aplicacion</h3>
                <p>Download App for Android and iOS mobile phone.</p>
                <div class="app-logo">
                    <img src="images/downloadAppStore.png" alt="iOS">
                    <img src="images/downloadGooglePlay.png" alt="Google Play">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="images/logo.png" alt="Logo">
                <p>Nuestra meta es deleitar tus papilas gustativas con ingredientes naturales</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul>
                    <li>Cupones</li>
                    <li>Publicaciones</li>
                    <li>Polisas de Devolucion</li>
                    <li>Unirte</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Siguenos</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Señor Mantequilla</p>
    </div>
</div>
<!--js for toggle menu-->
<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";
    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight = "200px";
        }
        else {
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>

</body>
</html>
